body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #f0db4f;
    color: #333;
    padding: 10px;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
}

textarea {
    width: 100%;
    margin-top: 10px;
}
